* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

.header-bg {
    background: #290742;
    /* height: 588px; */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
    align-items: center;
}

.header {
    flex-wrap: wrap;
}

.header-lista {
    display: flex;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.header-lista a {
    display: inline-block;
    position: relative;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.header-lista a::before {
    content: '';
    display: none;
    position: absolute;
    width: 2px;
    height: 15px;
    top: 8px;
    left: -2px;
    background-color: #4FFF4B;
}

.header-lista a:hover::before {
    display: block;
    transition: 0.3s;
}

.header-lista a:hover {
    font-weight: 600;
}

/* SEARCH AND BUTTON */

.header-input {
    display: flex;
    max-width: 300px;
    /* border: #4FFF4B solid 1px; */
}

.header-input input {
    width: 90%;
    padding: 14px 0px 14px 20px;
    font-size: 1rem;
    background-color: #170027;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    color: #FBF6FF;
}

.header-input input::placeholder {
    color: #FBF6FF;
}

.button-search {
    width: auto;
    /* border: #4FFF4B solid 1px; */
    border-radius: 0px 4px 4px 0px;
    background-color: #9E6DC2;
    cursor: pointer;
    padding: 10px 23px;
}

/* INTRODUÇÃO */

.introducao {
    background: #290742;
    border-bottom: #4FFF4B solid 6px;
}

article {
    padding-right: 30px;

}

.introducao h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #9E6DC2;
    margin-bottom: 16px;
}

.introducao p {
    color: #FBF6FF;
    margin-bottom: 24px;
    font-size: 18px;
}

.introducao a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #9E6DC2;
}

.link {
    display: flex;
    gap: .7rem;
}



@media (max-width: 1250px) {

    .container {
        padding: 60px 70px;
    }

    .header-lista {
        /* font-size: 1rem; */
        gap: 20px;
    }

    .button-search {
        padding: 5px 15px;
    }
}

@media (max-width: 1100px) {

    .introducao-img {
        display: none;
    }

    .introducao,
    .header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media (max-width: 910px) {

    .container {
        padding: 30px 20px;
        /* flex-wrap: nowrap; */
    }

    .header>img {
        order: 1;
    }

    .header-input {
        order: 1;
        max-width: none;
        width: 60vw;
        margin: 20px 0px;
    }

    nav {
        order: 2;
        margin: 0px auto;
        font-size: 1rem;
    }

}

@media (max-width: 650px) {

    .header-input {
        width: 100vw;
        order: 2;
        padding: 0px 20px;
    }

    nav {
        order: 3;
    }

    article {
        padding: 0px;
    }
}

@media (max-width: 450px) {

    .header-input {
        width: 100vw;
        order: 2;
        padding: 0px 20px;
    }

    .header-lista {
        /* width: 100vw; */
        order: 2;
        margin: 0px;
    }

    nav {
        order: 3;
    }

    article {
        padding: 0px;
    }
}

/* SESSÂO */

.sessao {
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: flex-start;
}

.sessao-1 {
    flex: 50%;
}

.sessao-1 img {
    display: block;
    margin-bottom: 15px;
}

.sessao-2 {
    flex: 50%;
}

.sessao-1 h2,
.sessao-2 h2,
.dicas h2 {
    margin: 8px 0px;
    line-height: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.sessao-1 span,
.sessao-2 span,
.dicas span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 16px;
}

.sessao-1 p,
.sessao-2 p,
.dicas p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

.sessao-2 hr {
    border: #F2E7FA solid 1px;
    margin: 23px 0px;
}

@media (max-width:1400px) {

    .sessao {
        gap: 60px;
    }

    .sessao-1 img {
        width: 100%;
    }
}

@media (max-width: 1050px) {

    .sessao {
        flex-direction: column;
        gap: 0px;
        margin-top: 20px;
        
    }

    .sessao-1 img {
        margin: 0 0 15px auto;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .sessao>hr {
        border: #F2E7FA solid 1px;
        margin: 23px 0px;
        width: 100%;
    }
}

/* DICAS */

.dicas {
    padding-top: 0px;
}

.dicas {
    gap: 30px;
}

.dicas img {
    display: block;
    margin-bottom: 15px;
}

@media (max-width:1400px) {

    .dicas img{
        width: 80%;
    }
}

@media (max-width:1050px) {

    .dicas {
        flex-wrap: wrap;
    }

    .dicas img {
        margin: 0 0 15px auto;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .post-2 {
        margin: 20px auto;
    }
}